.infoContainer {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.textContainer {
  flex: 1;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.userImageContainer {
  width: 3.2rem;
  height: 3.2rem;
  position: relative;
}

.title {
  font-size: 4rem;
  margin-bottom: 3.2rem;
}

.imageContainer {
  flex: 1;
  height: 350px;
  /* width: 350; */
  position: relative;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.image {
  object-fit: cover;
}

.userTextContainer {
  color: var(--softTextColor);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  display: flex;
  gap: 3.2rem;
}

.post {
  flex: 5;
  margin-top: 3.4rem;
}

.description>p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
}

.description>h5{
  font-size: 1.4rem;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 2.8rem;
  }

  .imageContainer {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 2.3rem;
  }

  .description>h5{
    font-size: 1.2rem;
  }

  .description>p{
    font-size: 1.1rem;
  }
}