@import url("https://cdn.jsdelivr.net/npm/theme-toggles@4.10.1/css/dark-side.min.css");
/* variables */
:root {
  --bg: white;
  --textColor: black;
  --lightBg: #f1f1f1;
  --lightTextColor: #616161;
}
/* reseteo css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #0f272a;
  --textColor: #ddd;
  --softBg: #1f274a;
  --softTextColor: #a5a5a5;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin: 0 auto;
  /* background-color: palevioletred; */
  padding: 0 5rem;
}

@keyframes circle-grow {
  0% {
    clip-path: circle(0% at 50% 0%);
  }
  
  100% {
    clip-path: circle(150% at 50% 0%);
  }
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
