.container{
    margin-top: 1.8rem;
}

.title{
    font-size: 6rem;
}

.post{
    margin-top: 3.7rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.imgContainer{
    flex: 1;
    height: 500px;
    position:relative;
}

.image{
    object-fit: cover;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.postTitle{
    font-size: 2.5rem;
}

.postPreview{
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--softTextColor);
}

.button{
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 10%;
    width: max-content;
}

@media screen and (max-width: 1280px) {
    .title{
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .title{
        font-size: 4rem;
    }

    .imgContainer{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 3rem;
    }
}

@media screen and (max-width: 640px) {
    .title{
        font-size: 2.5rem;
    }
}