.container{
    /* background-color: palegreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    gap: 1.5rem;
}

.social{
    display: flex;
    gap: 0.8rem;
    flex: 1;
}

.links{
    display: flex;
    gap: 1.3rem;
    flex: 1;
    font-size: 1.1rem;
}

.logo{
    flex:1;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    /* cursor: default; */
}

/* .logoText{
    cursor: pointer;
} */

@media screen and (max-width: 1280px) {
    .logo{
        font-size: 2rem;
    }
    .links{
        font-size: 1.1rem;
        gap: 0.9rem;
    }
}

@media screen and (max-width: 1024px) {
    .social{
        display: none;
    }
    .logo{
        text-align: left;
    }
    /* .links{
        font-size: 1.1rem;
        gap: 0.9rem;
    } */
}

@media screen and (max-width: 1024px) {
    .logo{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 640px) {
    .links{
        justify-content: flex-end;
    }
    .link{
        display: none;
    }
}