.container{
    margin-top: 3.2rem;
}

.title{
    color: var(--softTextColor);
    margin-bottom: 2rem;
}

.write{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.input{
    padding: 1.3rem;
    width: 100%;
}

.button{
    padding: 1rem 1.3rem;
    font-weight: bold;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.user{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 1.3rem;
}